
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="topBar">
    <ion-col size="12">
      <h1><strong>Task</strong> Manager</h1>
    </ion-col>

  </ion-row>

  <div id="container" >

    <ion-card color="light adsCard">
      <ion-card-header>
        <ion-card-title class="cardTitle">Manage your time well</ion-card-title>
      </ion-card-header>
      <ion-icon name="document-text" class="cardIcon"></ion-icon>

    </ion-card>

    <h2 class="categoryTitle">Categories</h2>

    <ion-row  class="shortcut">
      <ion-col class=" pink">
        <ion-icon name="at-circle"></ion-icon><br>
        <span>Work</span>
      </ion-col>
      <ion-col class=" purple" >
        <ion-icon name="person"></ion-icon><br>
        <span>Personal</span>
      </ion-col>
      <ion-col class=" blue">
        <ion-icon name="cart"></ion-icon><br>
        <span>Shopping</span>
      </ion-col>
      <ion-col class=" orange">
        <ion-icon name="calendar"></ion-icon><br>
        <span>Daily</span>
      </ion-col>

    </ion-row>
    <h2 class="categoryTitle">You have 5 task today</h2>

    <ion-list >
      <ion-item *ngFor="let task of tasks">
        <ion-icon class="pinkColor"  slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>
          {{ task.title}}
          <p>{{ task.content }}</p>
        </ion-label>
        <ion-note slot="end">{{ task.date | date:'short'}}</ion-note>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
<ion-button expand="block" id="open-modal"  class="add-btn"><ion-icon slot="start" name="add"></ion-icon> Add New</ion-button>
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Add New Task</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter title"
          labelPlacement="stacked"
          type="text"
          placeholder="Title"
          [(ngModel)]="title"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Enter content"
          labelPlacement="stacked"
          type="text"
          placeholder="Content"
          [(ngModel)]="content"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="selectedCategory"  placeholder="Select Category">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Task Date Time</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

